{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} C-Calc -> {{ title }}
{% endblock title %}
{% block head %}

{% endblock head %}



{% block body %}

{% if form.cost_type or form.income_type %}
{% include 'VoyageCalc/rates.html' %}
<div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" align="center">
{% else %}
<div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1" align="center">
{% endif %}
        <div class="panel panel-default" style="display:none;">
            <div class="panel-heading">
              <div class="panel-title"><h1> {{ title }} </h1>{% if title_2 %}<br>
              <h4>{{ title_2 }}</h4>{% endif %}
              </div>
            </div>
        </div>
        <div class="panel-body">
            
                        <form class="vertical" role="form" method="POST" action="{% if came_from_page %}?next={{ came_from_page }}{% endif %}" enctype="multipart/form-data">
                        
                            {% csrf_token %}
                            {{form|crispy}}
                            
                            <input type = submit class="btn btn-success" style="width:100%;" value="{{ sub_btn }}" />
                            
                        </form>


        </div>

      </div>

</div>

{% block footer %}
{% endblock footer %}
{% endblock body %}